Activation/Reset E-mails Flagged as Spam

When I signed up at https://bugs.ruby-lang.org/, the activation e-mail went straight to the Spam folder in regular Gmail, with a warning about "unable to verify sender".

Another person, who works at AWS, did not see the activation e-mail at all because, he says, it must have been dropped at the corporate level.

Both of these events occurred on March 24, 2023.

See also a similar report (March 31, 2023) on the ruby-talk mailing list, for a password reset e-mail, at https://ml.ruby-lang.org/mailman3/hyperkitty/list/ruby-talk@ml.ruby-lang.org/thread/XGYFBNTZP4I46Q7J3YEL7DWM35CSVHH3/

it seems https://github.com/ruby/b.r-l.o/pull/176 changed to send transactional emails directly sent to users using `ml.ruby-lang.org` and as its DMARC policy is set to `quarantine`, those emails are being flagged as spam. Those emails were sent using From: noreply@ruby-lang.org before the change.

```
Authentication-Results: mx.sorah.jp; spf=pass
	 smtp.mailfrom=bounces+…@sendgrid.net; dkim=pass
	 header.i=@sendgrid.net; dmarc=fail header.from=ml.ruby-lang.org
```

(DMARC is failing because DKIM is signed by `sendgrid.net` where out of organization domain `ruby-lang.org`, per [RFC 7489 Section 3.1.1.](https://datatracker.ietf.org/doc/html/rfc7489#section-3.1.1))



So suggestion is to do both of the followings

1. Update to Sendgrid's DKIM recommended setup (I believe they now recommend to setup DKIM using name under From: domain)
2. Keep using noreply@ruby-lang.org for transactional emails

@hsbt ^PTAL

also notification emails

![image](https://user-images.githubusercontent.com/895588/235171740-928d0664-5684-44a7-992e-0e758486752c.png)

also confirming DMARC fail in the headers:
```
Authentication-Results: mx.google.com;
       dkim=pass ...;
       spf=pass ...;
       dmarc=fail (p=QUARANTINE sp=QUARANTINE dis=QUARANTINE) header.from=ml.ruby-lang.org
```


> 2. Keep using [noreply@ruby-lang.org](mailto:noreply@ruby-lang.org) for transactional emails

I did this one for now by #179 and #180.

> 1. Update to Sendgrid's DKIM recommended setup (I believe they now recommend to setup DKIM using name under From: domain)

It is difficult for me to handle this. (I am not familiar with email verification.)

I am sorry that the issue may not be completely fixed, but @chagar could you try to create an account?
I tried creating a new account and confirmed that the confirmation email is not classified as spam by gmail.

Looks like it worked. The activation e-mail was successfully received (in Gmail). No warning message and the e-mail was not routed to spam.

@chagar OK thank you for your confirmation!

I would like to close with this issue once. In the long run, I wonder if we should probably move from redmine to GitHub issues.